@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
              0 -1px 0 $weight rgba($mix-sub-from, .25),
              1px 0 0 $weight rgba($mix-sub-to, .25),
              -1px 0 0 $weight  rgba($mix-sub-from, .25),
              1px -1px 0 $weight rgba($mix-main, .5),
              -1px 1px 0 $weight rgba($mix-main, .5),
              1px 1px 0 $weight rgba($to, .75),
              -1px -1px 0 $weight rgba($from, .75);
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.navigation {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #2D7DD2;
  transition: transform 0.3s 0.1s ease-in-out;

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin-top: 4px;
    transition: color .2s ease-in-out;
    &:hover {
      color: #a3d0ff;
    }
  }
}

.navigation--opened {
  display: flex;
}

.hamburger {
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.hamburger-opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.hamburger-opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.hamburger-opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.main {
  position: absolute;
  top: 60px;
  
}

.header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  border-top: 1px solid #4C83FF;
  border-bottom: 1px solid #4C83FF;

  &__title {
    text-transform: uppercase;
    margin: 16px 8px;
    color: #4C83FF;
  }

  &__description {
    margin: 0 8px 16px;
    font-weight: 300;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #20408b;
    text-align: center;
    
  }
}

.counter {
  display: flex;
  min-width: 35vw;
  justify-content: space-evenly;
  align-items: center;
  

  &__header {
    text-transform: uppercase;
    font-weight: 400;
  }

  &__number {
    font-size: 1.5em;
  }
}

.app {
  min-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 0;

  &__glass {
    width: 40%;
  }
}

.buttons {
  margin: 32px 0;
  width: 100vw;
  
  display: flex;
  justify-content: space-around;

  &__button {
    // border: 4px solid #4C83FF;
    outline: none;
    width: 70px;
    height: 70px;
    font-size: 0.75rem;
    background-color: #FFF;
    border-radius: 50%;
    text-transform: uppercase;
    color: #6f99fa;
  }

  &__add {
    @include border-gradient(skyblue,hotpink);

    &:hover {
      // animation: border-animation 1s linear infinite;
    }

    &:active {
      background-color: #d6e3ff;
    }
  }

  &__remove {
    @include border-gradient(red,yellow);
    color: #9e1919;

    &:hover {

    }

    &:active {
      background-color: #ffd6d6;
    }
  }
}

@keyframes border-animation {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}


@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    &__link {
      margin-right: 32px;
    }
  }

  .header {
    &__title {
      font-size: 4em;
    }

    &__description {
      font-size: 1em;
    }
  }

  .app {
  
    &__glass {
      width: 15%;
    }
  }

  .counter {
    min-width: 10vw;

    &__header {
      font-size: 2em;
    }
  }

  .buttons {
    max-width: 50vw;
  }
}

@media (min-width: 769px) {
  .counter {
    min-width: 35vw;
    justify-content: space-evenly;
  
    &__number {
      font-size: 2em;
    }
  }
  
  .app {
  
    &__glass {
      width: 20%;
    }
  }


}